*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: $background-image;
}

.main {
  overflow: auto;
  width: 80%;
}

.bdy {
  font-family: "Roboto", sans-serif;
}
