.card {
  display: flex;
  width: 500px;
  height: 180px;
  border: $border_primary;
  margin: 40px auto;

  &__img {
    flex-grow: 1;
  }

  &__content {
    flex-grow: 3;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.img {
  max-height: 100%;
  max-width: 100%;
}
