*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.main {
  overflow: auto;
  width: 80%;
}

.bdy {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  background: linear-gradient(right, $background-color, white);
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.background-color {
  background: linear-gradient(right, $background-color, white);
}
