*,
*::before,
**::after {
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
}

.main {
  overflow: auto;
  width: 80%;
}

.bdy {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
