.nav {
  display: flex;
  background: $background-color;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  // border: $border_primary;
}

.nav__btn {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  outline: none;

  &:active {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;

    &__icon {
      fill: $secondary-color;
      width: 48px;
      height: 48px;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
  }
}

.nav__btn--active {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  &__icon {
    fill: $secondary-color;
    width: 48px;
    height: 48px;
  }
}
